
@import "style.css";

body, ul, ol, li, dl, dt, dd, img, h2, h3 {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-weight: normal;
}

ul, ol {
  list-style-type: none;
}

body {
  width: 80%;
  min-width: 640px;
  max-width: 1440px;
  margin: 1.2% auto;
  font-size: 10px;
  text-align: justify;
  font-family: Georgia, Utopia, Palatino, Times, serif;
  color: black;
}

header {
  min-height: 2.4em;
  margin: 1.5em 0 1em;
  font-size: 150%;
}

header h2 {
  font-size: 200%;
}

header h2 span {
  font-size: 75%;
}

nav {
  min-height: 2em;
  margin: 1em 0;
  font-size: 210%;
  text-align: center;
  border-top: 0.4em double gray;
  border-bottom: 0.4em double gray;
}

nav a {
  display: inline-block;
  padding: 0.4em 0.6em;
}

article {
  margin: 3em 0;
  font-size: 150%;
}

article section {
  margin: 1em 1.5em;
}

article h3 {
  margin: 1.5em 0 0.5em;
  font-size: 144%;
}

article h4 {
  margin: 1.5em 0 0.5em;
  font-size: 120%;
  font-weight: normal;
}

article ul {
  margin: 0.5em 2em;
  line-height: 140%;
  list-style: outside disc;
}

article dl {
  margin: 0.5em 0;
  line-height: 140%;
}

article dd {
  margin: 0 0 0.5em 2em;
}

footer {
  margin: 1.5em 0;
  font-size: 140%;
}

footer address {
  display: block;
  font-style: normal;
}

p {
  margin: 0.8em 0 0.3em;
  line-height: 140%;
}

figure {
  margin: 1em auto 2em;
  text-align: center;
}
