pre {
  padding: 0.25em;
  border: solid 1px silver;
  border-radius: 0.5em;
}

a {
  text-decoration: none;
  outline: none;
  color: #00F;
}

a:hover {
  color: #FF8000;
  background: transparent;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.despam samp {
  display: none;
}

